@mixin slide-animation($x,$y,$delay, $name) {
    animation-delay: $delay;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: slide;
    animation-name: $name+'-animation';

  @-webkit-keyframes #{$name+'-animation'} {
    0% {
      -webkit-transform: translate3d($x, $y, 0);
      transform: translate3d($x, $y, 0);
      visibility: visible
    }
    to {
      -webkit-transform: translateZ(0);
      transform: translateZ(0)
    }
  }

  @keyframes #{$name+'-animation'} {
    0% {
      -webkit-transform: translate3d($x, $y, 0);
      transform: translate3d($x, $y, 0);
      visibility: visible
    }
    to {
      -webkit-transform: translateZ(0);
      transform: translateZ(0)
    }
  }
}
