.navbar {
  height: 45px;
  overflow: hidden;
  background: $light-grey;
  box-shadow: 0 0 5px rgba(0,0,0,.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  @include slide-animation(0, -100%, .3s, navbar);
  &__logo {
    width: 25px;
    margin: 10px 0;
    @include slide-animation(-200%, 0, .3s, logo);
  }
  &__btn {
    background: transparent;
    border: none;
    color: $dark-grey;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    font-weight: normal;
    margin: 0 15px;
    cursor: pointer;
    transition: 250ms;
  }
}
.navbar-btns {
  @include slide-animation(200%, 0, .3s, navbar-btns);
}
